.has-text-chino {
    color: #b2d8ff;
}

.has-text-cocoa {
    color: #ffd8b2;
}

.has-text-rize {
    color: #d8b2ff;
}

.has-text-syaro {
    color: #ffffb2;
}

.has-text-chiya {
    color: #b2ffd8;
}

.has-background-chino {
    background-color:#b2d8ff;
}

.has-background-cocoa {
    background-color:#ffd8b2;
}

.has-background-rize {
    background-color:#d8b2ff;
}

.has-background-syaro {
    background-color: #ffffb2;
}

.has-background-chiya {
    background-color:#b2ffd8;
}

.has-background-rabbit {
    background-color: #7b5544;
}